<footer class="footer">
  <nav class="footer_nav">
    <ul class="flex center">
      <li>
        <%= link_to new_user_session_path do %>
        ログイン
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
        新規登録
        <% end %>
      </li>
    </ul>
  </nav>
  <section id="copyright" class="copyright center">
    <p>Copyright (C) 2018- Kakeibo Project</p>
  </section>
</footer>