<article id="page_index">
  <section id="page_index_main" class="main_visual_container">
    <div class="main_visual">
      <div class="main_visual_text_container">
        <h3 class="main_visual_text">
          <p>埋めるだけで</p>
          <p>お手軽家計簿</p>
        </h3>
        <div class="main_visual_btn_container">
          <%= link_to new_user_registration_path, class: 'nounderline' do %>
          <div class="main_visual_btn">
            始めてみる
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section id="page_index_usage">
    <div class="p10">
      <h3 class="page_index_usage_heading">Kakeiboの特徴</h3>
    </div>
    <ul class="index_usage_list">
      <li>
        <div class="index_usage_container flex">
          <div class="flex">
            <div class="index_usage_index">1</div>
            <div class="index_usage_contents_container">
              <h4 class="index_usage_title">家計簿を埋めるだけ</h4>
              <p class="index_usage_text">
                支払日、店舗名、金額の３つを入力して家計簿を埋めます。<br>
                Excel感覚で素早く入力でき、収支は自動的に計算されます。<br>

              </p>
            </div>
          </div>
          <div class="index_usage_image_container">
            &nbsp;
          </div>
        </div>
      </li>
      <li>
        <div class="index_usage_container flex">
          <div class="flex">
            <div class="index_usage_index">2</div>
            <div class="index_usage_contents_container">
              <h4 class="index_usage_title">毎月の入力を自動入力</h4>
              <p class="index_usage_text">
                毎月同じ入力を自動的に入力することができます。
              </p>
            </div>
          </div>
          <div class="index_usage_image_container">
            &nbsp;
          </div>
        </div>
      </li>
      <li>
        <div class="index_usage_container flex">
          <div class="flex">
            <div class="index_usage_index">3</div>
            <div class="index_usage_contents_container">
              <h4 class="index_usage_title">収支の推移をグラフ化</h4>
              <p class="index_usage_text">
                毎月の収支の変化をグラフ化してみることができます。
              </p>
            </div>
          </div>
          <div class="index_usage_image_container">
            &nbsp;
          </div>
        </div>
      </li>
    </ul>
  </section>

</article>
<%= render 'pages/footer' %>