<article id="send_confirm_page" class="p20">
  <h2 class="page_title heading highlight">ご登録ありがとうございます。</h2>
  <section id="send_confirm_page_content" class="size_14 line_height_18">
    <p>ご登録ありがとうございます。</p>
    <p>登録されたメールアドレスへ確認のメールを送信致しました。</p>
    <p>恐れ入りますが、メール内に記載のリンクからお進みください。</p>
  </section>
</article>