// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.displaynone {
  display: none;
}

.book_edit_table {
  table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #7c7c7c;
  }
}

.book_edit_cell {
  &.editting {
    .book_edit_cell_input {
      display: inline;
    }
    .book_edit_cell_text {
      display: none;
    }
  }
  
  .book_edit_cell_input {
    display: none;
  }
  .book_edit_cell_text {
    display: inline;
  }
}

.column_pay_date{
  width: 50px;
}

.dates_container {
  justify-content: space-between;
}