// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#book_edit {

  .dates_container {
    justify-content: space-around;
    font-size: 1.4rem;
    padding: 4px 10px;
  }

  #book_edit_main {
    padding: 10px;
  }

  /*------------------------
  /* Tables 
  /*------------------------*/

  .book_edit_table {
    table {
      border-collapse: collapse;
    }

    td,
    th {
      border: 1px solid #7c7c7c;
      padding: 0.2rem;
      vertical-align: middle;
    }

    td, th, input {
      font-size: 1.8rem;
    }
    button {
      font-size: 1.4rem;
      height: 2.4rem;
    }
    input {
      padding: 0.2rem;
    }
    p {
      padding: 0.5rem;
    }
    button {
      padding: 0.2rem;
    }
    th {
      font-weight: 600;
    }
  }

  .book_edit_cell {
    &.editting {
      padding: 0;
      .book_edit_cell_input {
        display: inline-block;
      }

      .book_edit_cell_text {
        display: none;
      }
    }

    
  }

  .book_edit_cell_input {
    display: none;
    width: 100%;
  }

  .book_edit_cell_text {
    display: inline-block;
  }

  .book_edit_disabled_delete_btn_cell {
    p {
      font-size: 1.4rem;
      padding: 0.5rem;
      display: inline-block;
      height: 2.4rem;
    }
  }

  .column_pay_date {
    text-align: right;
    input {
      text-align: right;
    }
  }

  .column_store {
    text-align: left;
  }

  .column_price {
    text-align: right;
    min-width: 100px;

    input {
      text-align: right;
    }
  }

  .column_store {
    min-width: 100px;
  }

  /*--------------------------
  /* Total Result Area 
  /*--------------------------*/
  #book_edit_total_view {
    width: 100%;
    height: 7rem;
    position: fixed;
    bottom: 0;
  }

  #book_edit_total_container {
    background-color: #6c9ac5;
    color: white;
    padding: 10px 20px;
    width: 100%;
    opacity: 0.9;

    .total_caption {
      font-size: 1.0rem;
      padding-bottom: 4px;
      font-weight: 600;
    }

    .total_result {
      font-size: 3.2rem;
      font-weight: 400;
    }

    #book_edit_total_receipts_and_incomes {
      div {
        padding-right: 2rem;
      }
    }
  }
  
  .fullheight_with_bottomview {
    min-height: 100%;
  }

  .padding_for_bottomview {
    padding-bottom: 7rem;
  }
}
/* end #book_edit */

#books_index {
  .books_index_edit_name_btn {
    padding: 0.6rem;
    cursor: pointer;
  }
  .books_index_edit_name_input {
    width: 100%;
  }
  .books_index_names {
    width: 20rem;
  }

  .books_index_name_area, .books_index_edit_name_input_area {
    display: none;
    &.active {
      display: inline;
    }
  }

  .books_index_names {
    text-align: left;
  }
}

.book_sidebar {
  background-color: #f2f8fd;
  border-right: 1px solid #c4c5c6;
  width: 25rem;
}

.book_sidebar_items {
  text-align: center;
  font-size: 1.2rem;
  li {
    padding: 1.6rem;
    border-bottom: 1px dashed #c4c5c6;
  }
}

.csv_upload_form {
  label {
    width: 140px;
    text-align: left;
  }
  select[id=_date_1i] {
    margin-right: 0.4rem;
  }
  select[id=_date_2i] {
    margin-left: 0.4rem;;
  }
}