// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graphs_linegraph {
  .dates_container {
    justify-content: space-around;
    font-size: 1.4rem;
    padding: 4px 10px;
  }

  .linegraph_container {
    width: 80%;
    margin: auto;
  }

  .linegraph_canvas {
    border: 1px dashed #aaa; 
    height: 400px;
  }
}